In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("csvFiles/deliveries.csv")

In [3]:
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
batsmanName = 'DA Warner'
df = data.query(f"batsman == '{batsmanName}'").reset_index()
temp = df.groupby('bowler')['total_runs'].sum().reset_index()
index = temp['total_runs'].idxmax()
max_row = temp.loc[index]
print(max_row)
print(max_row['total_runs'])

bowler        P Kumar
total_runs        141
Name: 98, dtype: object
141

In [5]:
df['total_runs'].sum()

np.int64(4213)

In [6]:
df.loc[:,'balls'] = 1

In [7]:
temp1 = df.groupby('bowler')['balls'].sum().reset_index()
index_ball = temp1['balls'].idxmax()
max_row_ball = temp1.loc[index_ball]
print(max_row_ball)

bowler    P Kumar
balls          92
Name: 98, dtype: object

In [8]:
bowler_name = 'P Kumar'
ball_played = temp1.query(f"bowler == '{bowler_name}'").reset_index()
print(ball_played)

   index   bowler  balls
0     98  P Kumar     92

In [9]:
bowler_name = 'P Kumar'
df1 = data.query(f"bowler == '{bowler_name}'").reset_index()
condition = "not (dismissal_kind == 'retired_hurt' or dismissal_kind == 'run out' or dismissal_kind.isna())"
dataBowler = df1.query(condition).reset_index()
dataBowler.loc[:, 'Wicket'] = 1
tmp = dataBowler.groupby('batsman')['Wicket'].sum().reset_index()
index = tmp['Wicket'].idxmax()
max_wicket_row = tmp.loc[index]
print(max_wicket_row['batsman'])

Harbhajan Singh

In [10]:
team_name_dict = {
    'Sunrisers Hyderabad' : 'srh',
    'Royal Challengers Bangalore': 'rcb',
    'Mumbai Indians' : 'mi',
    'Rising Pune Supergiant' : 'rpsg',
    'Gujarat Lions' : 'gl',
    'Kolkata Knight Riders' : 'kkr',
    'Kings XI Punjab' : 'kxip',
    'Delhi Daredevils' : 'dd',
    'Chennai Super Kings' : 'csk',
    'Rajasthan Royals' : 'rr',
    'Deccan Chargers' : 'dc',
    'Kochi Tuskers Kerala' : 'ktk',
    'Pune Warriors' : 'pwi'
}

print(team_name_dict.keys())

dict_keys(['Sunrisers Hyderabad', 'Royal Challengers Bangalore', 'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions', 'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils', 'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors'])

In [11]:
team_name = "Chennai Super Kings"
df = data.query(f"batting_team == '{team_name}'").reset_index()
team_name = "Mumbai Indians"
df1 = data.query(f"batting_team == '{team_name}'").reset_index()
df.head()

,index,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,14087,61,1,Chennai Super Kings,Kings XI Punjab,1,1,PA Patel,ML Hayden,B Lee,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,14088,61,1,Chennai Super Kings,Kings XI Punjab,1,2,PA Patel,ML Hayden,B Lee,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,14089,61,1,Chennai Super Kings,Kings XI Punjab,1,3,PA Patel,ML Hayden,B Lee,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3,14090,61,1,Chennai Super Kings,Kings XI Punjab,1,4,ML Hayden,PA Patel,B Lee,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,14091,61,1,Chennai Super Kings,Kings XI Punjab,1,5,ML Hayden,PA Patel,B Lee,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [12]:
runs1 = df.groupby("match_id")['total_runs'].sum().reset_index()
runs2 = df1.groupby("match_id")['total_runs'].sum().reset_index()

In [16]:
import dash

In [20]:
help(dash.html.Div)

Help on class Div in module dash.html.Div:

class Div(dash.development.base_component.Component)
 |  Div(children=None, id=undefined, n_clicks=undefined, n_clicks_timestamp=undefined, disable_n_clicks=undefined, key=undefined, accessKey=undefined, className=undefined, contentEditable=undefined, dir=undefined, draggable=undefined, hidden=undefined, lang=undefined, role=undefined, spellCheck=undefined, style=undefined, tabIndex=undefined, title=undefined, loading_state=undefined, **kwargs)
 |
 |  A Div component.
 |  Div is a wrapper for the <div> HTML5 element.
 |  For detailed attribute info see:
 |  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div
 |
 |  Keyword arguments:
 |
 |  - children (a list of or a singular dash component, string or number; optional):
 |      The children of this component.
 |
 |  - id (string; optional):
 |      The ID of this component, used to identify dash components in
 |      callbacks. The ID needs to be unique across all of the components
 |      in an app.
 |
 |  - accessKey (string; optional):
 |      Keyboard shortcut to activate or add focus to the element.
 |
 |  - aria-* (string; optional):
 |      A wildcard aria attribute.
 |
 |  - className (string; optional):
 |      Often used with CSS to style elements with common properties.
 |
 |  - contentEditable (string; optional):
 |      Indicates whether the element's content is editable.
 |
 |  - data-* (string; optional):
 |      A wildcard data attribute.
 |
 |  - dir (string; optional):
 |      Defines the text direction. Allowed values are ltr (Left-To-Right)
 |      or rtl (Right-To-Left).
 |
 |  - disable_n_clicks (boolean; optional):
 |      When True, this will disable the n_clicks prop.  Use this to
 |      remove event listeners that may interfere with screen readers.
 |
 |  - draggable (string; optional):
 |      Defines whether the element can be dragged.
 |
 |  - hidden (a value equal to: 'hidden', 'HIDDEN' | boolean; optional):
 |      Prevents rendering of given element, while keeping child elements,
 |      e.g. script elements, active.
 |
 |  - key (string; optional):
 |      A unique identifier for the component, used to improve performance
 |      by React.js while rendering components See
 |      https://reactjs.org/docs/lists-and-keys.html for more info.
 |
 |  - lang (string; optional):
 |      Defines the language used in the element.
 |
 |  - loading_state (dict; optional):
 |      Object that holds the loading state object coming from
 |      dash-renderer.
 |
 |      `loading_state` is a dict with keys:
 |
 |      - component_name (string; optional):
 |          Holds the name of the component that is loading.
 |
 |      - is_loading (boolean; optional):
 |          Determines if the component is loading or not.
 |
 |      - prop_name (string; optional):
 |          Holds which property is loading.
 |
 |  - n_clicks (number; default 0):
 |      An integer that represents the number of times that this element
 |      has been clicked on.
 |
 |  - n_clicks_timestamp (number; default -1):
 |      An integer that represents the time (in ms since 1970) at which
 |      n_clicks changed. This can be used to tell which button was
 |      changed most recently.
 |
 |  - role (string; optional):
 |      Defines an explicit role for an element for use by assistive
 |      technologies.
 |
 |  - spellCheck (string; optional):
 |      Indicates whether spell checking is allowed for the element.
 |
 |  - style (dict; optional):
 |      Defines CSS styles which will override styles previously set.
 |
 |  - tabIndex (string; optional):
 |      Overrides the browser's default tab order and follows the one
 |      specified instead.
 |
 |  - title (string; optional):
 |      Text to be displayed in a tooltip when hovering over the element.
 |
 |  Method resolution order:
 |      Div
 |      dash.development.base_component.Component
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__ = wrapper(self, children=None, id=undefined, n_clicks=undefined, n_clicks_timestamp=undefined, disable_n_clicks=undefined, key=undefined, accessKey=undefined, className=undefined, contentEditable=undefined, dir=undefined, draggable=undefined, hidden=undefined, lang=undefined, role=undefined, spellCheck=undefined, style=undefined, tabIndex=undefined, title=undefined, loading_state=undefined, **kwargs)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from dash.development.base_component.Component:
 |
 |  __delitem__(self, id)
 |      Delete items by ID in the tree of children.
 |
 |  __getitem__(self, id)
 |      Recursively find the element with the given ID through the tree of
 |      children.
 |
 |  __iter__(self)
 |      Yield IDs in the tree of children.
 |
 |  __len__(self)
 |      Return the number of items in the tree.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setitem__(self, id, item)
 |      Set an element by its ID.
 |
 |  to_plotly_json(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from dash.development.base_component.Component:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from dash.development.base_component.Component:
 |
 |  REQUIRED = required
 |
 |  UNDEFINED = undefined

In [ ]:
merged_df = pd.merge(runs1, runs2, on='match_id', suffixes=('_df1', '_df2'), how='inner')
print(merged_df.shape)
merged_df.head()

In [ ]:
merged_df['total_runs_df1'][0]

In [ ]:
dfResult = pd.read_csv("csvFiles/result.csv", index_col=False)

In [ ]:
dfResult

In [ ]:
team_name = "Chennai Super Kings"
tmp = dfResult.query(f"Team == '{team_name}'").reset_index()
print(list(tmp['Qualify']))

In [ ]:
max_index = data1['batsman_runs'].idxmax()

In [ ]:
max_row = data1.loc[max_index]
print(max_row['batsman'])
print(max_row['batsman_runs'])

In [ ]:
data1[data1['batsman'] == 'S Dhawan']

In [ ]:
data.shape

In [ ]:
condition = "not (dismissal_kind == 'retired_hurt' or dismissal_kind == 'run out' or dismissal_kind.isna())"
dataBowler = data.query(condition)

In [ ]:
dataBowler

In [ ]:
dataBowler.loc[:, 'Wicket'] = 1
dataBowler.head()

In [ ]:
data_wicket_bowler = dataBowler.groupby('bowler')['Wicket'].sum()
data_wicket_bowler.head()

In [ ]:
data_wicket_bowler.reset_index()

In [ ]:
tmp = 2017
yearList1 = []
for i in range(df.shape[0]):
    if df.iloc[i]['season'] != tmp:
        tmp = df.iloc[i]['season']
        yearList1.append(tmp)
        
print(yearList1)

In [ ]:
temp = data.iloc[3]

In [ ]:
temp1 = data.iloc[4]

In [ ]:
df_temp = pd.DataFrame(dict(temp), index=[0])

In [ ]:
print(df_temp)

In [ ]:
df_temp.loc[len(df_temp)] = dict(temp1)

In [ ]:
data.loc[data['match_id'] == 60]

In [ ]:
data.loc[data['match_id'] < 60]

In [ ]:
init_tmp = 1
for tmp in yearList:
    df_temp = data[data['match_id'] < tmp]
    print(f'first: {df_temp.shape}, init_tmp: {init_tmp}')
    df_temp = df_temp[df_temp['match_id'] >= init_tmp]
    print(f'second: {df_temp.shape}')
    init_tmp = tmp
    df_temp.to_csv(str(tmp)+".csv")

In [ ]:
yearList.append(637)