In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("deliveries.csv")

In [3]:
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
data1 = data.groupby('batsman')['batsman_runs'].sum()

In [6]:
data1 = data1.reset_index()

In [7]:
data1[data1['batsman'] == 'S Dhawan']

      batsman  batsman_runs
347  S Dhawan          3561

In [8]:
#data1.to_csv("batsman_run.csv")

In [9]:
df = pd.read_csv("matches.csv")

In [50]:
df.iloc[0]

id                                                         1
season                                                  2017
city                                               Hyderabad
date                                              2017-04-05
team1                                    Sunrisers Hyderabad
team2                            Royal Challengers Bangalore
toss_winner                      Royal Challengers Bangalore
toss_decision                                          field
result                                                normal
dl_applied                                                 0
winner                                   Sunrisers Hyderabad
win_by_runs                                               35
win_by_wickets                                             0
player_of_match                                 Yuvraj Singh
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                          AY Dandekar
umpire2                                             NJ Llong
umpire3                                                  NaN
Name: 0, dtype: object

In [51]:
tmp = 2017
yearList1 = []
for i in range(df.shape[0]):
    if df.iloc[i]['season'] != tmp:
        tmp = df.iloc[i]['season']
        yearList1.append(tmp)
        
print(yearList1)

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [28]:
temp = data.iloc[3]

In [29]:
temp1 = data.iloc[4]

In [30]:
df_temp = pd.DataFrame(dict(temp), index=[0])

In [31]:
print(df_temp)

   match_id  inning         batting_team                 bowling_team  over  \
0         1       1  Sunrisers Hyderabad  Royal Challengers Bangalore     1

   ball    batsman non_striker    bowler  is_super_over  ...  bye_runs  \
0     4  DA Warner    S Dhawan  TS Mills              0  ...         0

   legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
0            0            0             0             0           0

   total_runs  player_dismissed  dismissal_kind  fielder
0           0               NaN             NaN      NaN

[1 rows x 21 columns]

In [32]:
df_temp.loc[len(df_temp)] = dict(temp1)

In [38]:
data.loc[data['match_id'] == 60]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
13862,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
13863,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13864,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
13865,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13866,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14082,60,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,5,P Kumar,SB Joshi,I Sharma,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
14083,60,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,6,SB Joshi,P Kumar,I Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
14084,60,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,7,P Kumar,SB Joshi,I Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14085,60,2,Royal Challengers Bangalore,Kolkata Knight Riders,16,1,SB Joshi,P Kumar,LR Shukla,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
14086,60,2,Royal Challengers Bangalore,Kolkata Knight Riders,16,2,SB Joshi,P Kumar,LR Shukla,0,...,0,0,0,0,0,0,0,SB Joshi,caught,BB McCullum

In [43]:
data.loc[data['match_id'] < 60]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13857,59,2,Rising Pune Supergiant,Mumbai Indians,20,2,MK Tiwary,SPD Smith,MG Johnson,0,...,0,0,0,0,0,0,0,MK Tiwary,caught,KA Pollard
13858,59,2,Rising Pune Supergiant,Mumbai Indians,20,3,SPD Smith,DT Christian,MG Johnson,0,...,0,0,0,0,0,0,0,SPD Smith,caught,AT Rayudu
13859,59,2,Rising Pune Supergiant,Mumbai Indians,20,4,Washington Sundar,DT Christian,MG Johnson,0,...,1,0,0,0,0,1,1,NaN,NaN,NaN
13860,59,2,Rising Pune Supergiant,Mumbai Indians,20,5,DT Christian,Washington Sundar,MG Johnson,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
13861,59,2,Rising Pune Supergiant,Mumbai Indians,20,6,DT Christian,Washington Sundar,MG Johnson,0,...,0,0,0,0,2,0,2,Washington Sundar,run out,J Suchith (sub)

In [54]:
init_tmp = 1
for tmp in yearList:
    df_temp = data[data['match_id'] < tmp]
    print(f'first: {df_temp.shape}, init_tmp: {init_tmp}')
    df_temp = df_temp[df_temp['match_id'] >= init_tmp]
    print(f'second: {df_temp.shape}')
    init_tmp = tmp
    df_temp.to_csv(str(tmp)+".csv")

first: (13862, 21), init_tmp: 1
second: (13862, 21)
first: (27351, 21), init_tmp: 60
second: (13489, 21)
first: (40957, 21), init_tmp: 118
second: (13606, 21)
first: (55455, 21), init_tmp: 175
second: (14498, 21)
first: (72468, 21), init_tmp: 235
second: (17013, 21)
first: (90235, 21), init_tmp: 308
second: (17767, 21)
first: (108412, 21), init_tmp: 382
second: (18177, 21)
first: (122712, 21), init_tmp: 458
second: (14300, 21)
first: (136364, 21), init_tmp: 518
second: (13652, 21)
first: (150460, 21), init_tmp: 577
second: (14096, 21)

In [53]:
yearList.append(637)