In [1]:
import dash

In [2]:
import pandas as pd

In [49]:
df = pd.read_csv("csvFiles/2008.csv")
df.head()

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,13862,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,13863,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,13864,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,13865,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,13866,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [38]:
data2008 = df.groupby('batsman')['batsman_runs'].sum().reset_index()

In [43]:
matches2008 = df.query("batsman == 'A Chopra'")

In [48]:
matches2008.shape

(55, 22)

In [45]:
matches2008['match_id'].unique()

array([ 88,  92,  95,  99, 112])

In [82]:
df = pd.read_csv("csvFiles/deliveries.csv")
data = df.groupby('batsman')['batsman_runs'].sum().reset_index()
allBatsmanName = data['batsman'].unique().tolist()
print(len(allBatsmanName))

461

In [28]:
df2009 = pd.read_csv("csvFiles/2009.csv")
data2009 = dict(df2009.groupby('batsman')['batsman_runs'].sum())

In [11]:
df2010 = pd.read_csv("csvFiles/2010.csv")
data2010 = dict(df2010.groupby('batsman')['batsman_runs'].sum())

In [12]:
df2011 = pd.read_csv("csvFiles/2011.csv")
data2011 = dict(df2011.groupby('batsman')['batsman_runs'].sum())

In [13]:
df2012 = pd.read_csv("csvFiles/2012.csv")
data2012 = dict(df2012.groupby('batsman')['batsman_runs'].sum())

In [14]:
df2013 = pd.read_csv("csvFiles/2013.csv")
data2013 = dict(df2013.groupby('batsman')['batsman_runs'].sum())

In [15]:
df2014 = pd.read_csv("csvFiles/2014.csv")
data2014 = dict(df2014.groupby('batsman')['batsman_runs'].sum())

In [16]:
df2015 = pd.read_csv("csvFiles/2015.csv")
data2015 = dict(df2015.groupby('batsman')['batsman_runs'].sum())

In [17]:
df2016 = pd.read_csv("csvFiles/2016.csv")
data2016 = dict(df2016.groupby('batsman')['batsman_runs'].sum())

In [68]:
df2017 = pd.read_csv("csvFiles/2017.csv")
data2017 = dict(df2017.groupby('batsman')['batsman_runs'].sum())

In [69]:
df2017.head()

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("csvFiles/matches.csv")

In [3]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
df['city'].unique()

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bangalore', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah', nan],
      dtype=object)

In [5]:
tmp_l = ['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bangalore', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi']

hyderabad

In [8]:
matches_first_bat_win = df.query("city == 'Hyderabad' and toss_decision == 'bat' and win_by_runs > 0")
matches_first_bat = df.query("city == 'Hyderabad' and toss_decision == 'bat'")
matches_first_bat_win.shape
matches_first_bat.shape
matches_first_bat_win_percentage = (matches_first_bat_win.shape[0]/matches_first_bat.shape[0])*100
matches_first_bat_win_percentage

21.73913043478261

In [22]:
result_toss_match_win = []
for tmp in tmp_l:
    toss_match_win = df.query(f"city == '{tmp}' and toss_winner == winner")
    matches = df.query(f"city == '{tmp}'")    
    if matches.shape[0] > 0:
        temp = toss_match_win.shape[0]*100/matches.shape[0]
        result_toss_match_win.append(temp)
        print(f"{tmp} win by bat first {temp}")
    else:
        print(f"{tmp} has no matches")

Hyderabad win by bat first 34.69387755102041
Pune win by bat first 59.375
Rajkot win by bat first 40.0
Indore win by bat first 80.0
Bangalore win by bat first 54.54545454545455
Mumbai win by bat first 50.588235294117645
Kolkata win by bat first 55.73770491803279
Delhi win by bat first 51.666666666666664
Chandigarh win by bat first 43.47826086956522
Kanpur win by bat first 100.0
Jaipur win by bat first 45.45454545454545
Chennai win by bat first 52.083333333333336
Ahmedabad win by bat first 50.0
Cuttack win by bat first 71.42857142857143
Nagpur win by bat first 33.333333333333336
Dharamsala win by bat first 55.55555555555556
Kochi win by bat first 40.0
Visakhapatnam win by bat first 36.36363636363637
Raipur win by bat first 50.0
Ranchi win by bat first 57.142857142857146

In [23]:
print(result_toss_match_win)

[34.69387755102041, 59.375, 40.0, 80.0, 54.54545454545455, 50.588235294117645, 55.73770491803279, 51.666666666666664, 43.47826086956522, 100.0, 45.45454545454545, 52.083333333333336, 50.0, 71.42857142857143, 33.333333333333336, 55.55555555555556, 40.0, 36.36363636363637, 50.0, 57.142857142857146]

In [24]:
result = []
for tmp in tmp_l:
    matches_first_bat = df.query(f"city == '{tmp}' and toss_decision == 'bat'")    
    matches_in_city = df.query(f"city == '{tmp}'")
    if matches_in_city.shape[0]:
        print(f"city:{tmp}, toss-bat-percentage:{matches_first_bat.shape[0]*100/matches_in_city.shape[0]}")
        result.append(matches_first_bat.shape[0]*100/matches_in_city.shape[0])
    else:
        print(f"zero matches in {tmp}")

city:Hyderabad, toss-bat-percentage:46.93877551020408
city:Pune, toss-bat-percentage:53.125
city:Rajkot, toss-bat-percentage:30.0
city:Indore, toss-bat-percentage:20.0
city:Bangalore, toss-bat-percentage:13.636363636363637
city:Mumbai, toss-bat-percentage:40.0
city:Kolkata, toss-bat-percentage:45.90163934426229
city:Delhi, toss-bat-percentage:43.333333333333336
city:Chandigarh, toss-bat-percentage:34.78260869565217
city:Kanpur, toss-bat-percentage:0.0
city:Jaipur, toss-bat-percentage:42.42424242424242
city:Chennai, toss-bat-percentage:70.83333333333333
city:Ahmedabad, toss-bat-percentage:50.0
city:Cuttack, toss-bat-percentage:28.571428571428573
city:Nagpur, toss-bat-percentage:66.66666666666667
city:Dharamsala, toss-bat-percentage:11.11111111111111
city:Kochi, toss-bat-percentage:40.0
city:Visakhapatnam, toss-bat-percentage:45.45454545454545
city:Raipur, toss-bat-percentage:50.0
city:Ranchi, toss-bat-percentage:42.857142857142854

In [25]:
print(result)

[46.93877551020408, 53.125, 30.0, 20.0, 13.636363636363637, 40.0, 45.90163934426229, 43.333333333333336, 34.78260869565217, 0.0, 42.42424242424242, 70.83333333333333, 50.0, 28.571428571428573, 66.66666666666667, 11.11111111111111, 40.0, 45.45454545454545, 50.0, 42.857142857142854]

In [70]:
df = pd.read_csv("csvFiles/2008.csv")

In [71]:
df.head()

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,13862,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,13863,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,13864,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,13865,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,13866,60,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [74]:
bowlerPerform = df.query("bowler == 'Rashid Khan'")
bowlerPerform.head()
print(bowlerPerform.shape[0])
number_over = 0
fix_parameter = 0
for tmp in bowlerPerform['over']:
    if int(tmp) != fix_parameter:
        number_over += 1
        fix_parameter = int(tmp)

        
print(number_over)

0
0

In [60]:
len(bowlerPerform['match_id'].unique())

13

In [66]:
runs_byPKumar = bowlerPerform.groupby("match_id")['wide_runs', 'noball_runs', 'batsman_runs'].sum()
all_runs_byPKumar_in_matches = runs_byPKumar['wide_runs']+runs_byPKumar['noball_runs']+runs_byPKumar['batsman_runs']
all_runs_byPKumar = all_runs_byPKumar_in_matches.sum()
print(all_runs_byPKumar)
print(f"economy: {all_runs_byPKumar/number_over}")

366
economy: 8.133333333333333

/tmp/ipykernel_4452/4263754602.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  runs_byPKumar = bowlerPerform.groupby("match_id")['wide_runs', 'noball_runs', 'batsman_runs'].sum()

In [78]:
len(all_runs_byPKumar_in_matches)

13

In [51]:
df['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket'], dtype=object)

In [67]:
wickets = 0
for tmp in bowlerPerform['dismissal_kind']:
    if (not(pd.isna(tmp) or tmp == 'retired_hurt' or tmp == 'run out')):
        wickets += 1
        
print(wickets)

11